<aside class="sidebar">
    <h2><span class="smart">smart</span> <span class="trashbin">Trash Bin</span></h2>
    <ul>
        <li><a href="/guru/guru"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="/guru/status"><i class="fas fa-tachometer-alt"></i> Status</a></li>
        <li><a href="/guru/lokasi"><i class="fas fa-map-marker-alt"></i> Lokasi</a></li>
        <li><a href="/guru/history"><i class="fas fa-history"></i> History</a></li>
        <!-- Add more links as needed -->
    </ul>
</aside>
