<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupa Password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Lupa Password</h1>
    <form action="/lupa-password" method="POST">
        <label for="email">Masukkan Email:</label>
        <input type="text" id="email" name="identifier" required>
        <br>
        <button type="submit">Kirim Kode Reset Password</button>
    </form>
</body>
</html>
