<div class="menu">
    <a href="/admin"><i class="fas fa-home"></i> Halaman Utama</a>
    <a href="/status"><i class="fas fa-tachometer-alt"></i> Status</a>
    <a href="/lokasi"><i class="fas fa-map-marker-alt"></i> Lokasi</a>
    <a href="/history"><i class="fas fa-history"></i> History</a>
    <a href="/users"><i class="fas fa-users"></i> Pengguna</a>
</div>
